/* raleway-regular - latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-display: optional;
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'),
		url('../fonts/raleway-v12-latin-regular.woff') format('woff');
}

:root {
	--c-grey-1: #121212;
	--c-grey-2: #333333;
	--c-grey-3: #555555;
	--c-grey-4: #777777;
	--c-grey-5: #999999;
	--c-bg: #191919;
	--c-primary: #bc97f2;
	--c-primary-dark: #5400d5;
	--c-secondary: #80d500;
	--c-text: #FFFFFF;
}


* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: [header-start] auto [header-end content-start] 10fr [content-end footer-start] auto [footer-end];
	grid-template-columns: [full-start] 1fr [content-start] 10fr [content-end] 1fr [full-end];

	min-height: 100%;

	background-color: var(--c-bg);
	color: white;
	font-family: "Raleway", sans-serif;
}

.content {
	grid-area: content;
}

.header {
	background-color: var(--c-grey-2);
	grid-row: header;
	grid-column: full;

	margin-bottom: 5px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header div {
	display: flex;
}

.footer {
	background-color: var(--c-grey-2);
	grid-row: footer;
	grid-column: full;
}

a {
	color:#DEDEDE;
}

a:hover {
	color:#FFFFFF;
}

.header a {
	display:inline-block;
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	padding: 10px;
}

.header a:active {
	position:relative;
	top:1px;
}

#display-menu {
	display: none;
}

.display-menu {
	display: none;
}

.display-menu svg {
	fill: var(--c-secondary);
	padding: 5px;
	min-height: 40px;
	margin-left: 10px;
}

.footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	fill: var(--c-text);
}

.footer a {
	text-decoration: none;
	display: flex;
	align-items: center;
}

@media (max-width: 700px) {
	body {
		display: flex;
		flex-direction: column;
	}

	.content {
		padding: 10px;
	}
	
	.content div {
		padding: 5px;
	}

	.header div {
		display: none;
	}
  
	input[type="checkbox"]:checked ~ label svg {
		transform: rotate(90deg);
		-webkit-transition: transform 0.5s ease-in-out;
		-moz-transition:transform 0.5s ease-in-out;
		-ms-transition:transform 0.5s ease-in-out;
	}

	input[type="checkbox"]:checked ~ div {
		display: flex;
	}

	.header label {
		display: inline;
		width: 100%;
	}

	.header #display-menu {
		opacity: 0;
	}

	.header {
		flex-direction: column;
	}
  
	.header div {
		flex-direction: column;
	}

	.header a {
		margin: 2px;
		margin-right: 10px;
		margin-left: 10px;
		background-color: var(--c-grey-3);
	}

	.header div {
		margin: 5px;
		width: 100%;
	}
}
