:root {
	--c-grey-1: #121212;
	--c-grey-2: #333333;
	--c-grey-3: #555555;
	--c-grey-4: #777777;
	--c-grey-5: #999999;
	--c-bg: #121212;
	--c-primary: #bc97f2;
	--c-primary-dark: #5400d5;
	--c-secondary: #80d500;
}


* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: [header-start] 6vh [header-end content-start] 10fr [content-end footer-start] 1fr [footer-end];
	grid-template-columns: [full-start] 1fr [content-start] 10fr [content-end] 1fr [full-end];

	min-height: 100%;

	background-color: var(--c-bg);
	color: white;
}

.content {
	grid-area: content;
}

.header {
	background-color: var(--c-grey-2);
	grid-row: header;
	grid-column: full;

	padding: 5px;
	margin-bottom: 5px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header div {
	display: flex;
}

.footer {
	background-color: var(--c-grey-2);
	grid-row: footer;
	grid-column: full;
}

a {
	color:#DEDEDE;
}

a:hover {
	color:#FFFFFF;
}

.header a {
	display:inline-block;
	cursor:pointer;
	font-family:Georgia;
	font-size:16px;
	font-weight:bold;
	padding:3px 5px;
	text-decoration:none;
	margin-left: 5px;
	margin-right: 5px;
}

.header a:active {
	position:relative;
	top:1px;
}

#display-menu {
	display: none;
}

.display-menu {
	display: none;
}

.fa {
	height: 30px;
	width: auto;
	margin: 5px;
}

@media (max-width: 700px) {
	body {
		display: flex;
		flex-direction: column;
	}

	.content {
		padding: 10px;
	}
	
	.content div {
		padding: 5px;
	}

	.header div {
		display: none;
	}
  
	input[type="checkbox"]:checked ~ label svg {
		transform: rotate(90deg);
		-webkit-transition: transform 0.5s ease-in-out;
		-moz-transition:transform 0.5s ease-in-out;
		-ms-transition:transform 0.5s ease-in-out;
	}

	input[type="checkbox"]:checked ~ div {
		display: flex;
	}

	.header label {
		display: inline;
		width: 100%;
	}

	.header #display-menu {
		opacity: 0;
		display: inline;
	}

	.header {
		flex-direction: column;
	}
  
	.header div {
		flex-direction: column;
	}

	.header a {
		margin: 2px;
	}

	.header div {
		margin: 5px;
		width: 100%;
	}
}
