:root {
	--c-header: #845ec2;
	--c-footer: #fbeaff;
	--c-header-shadow: #29574f;
	--c-header-button: #00c9a8;
	--c-header-button-hover: #04B094;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: [header-start] 6vh [header-end content-start] 10fr [content-end footer-start] 1fr [footer-end];
	grid-template-columns: [full-start] 1fr [content-start] 10fr [content-end] 1fr [full-end];

	min-height: 100%;
}

.content {
	grid-area: content;
}

.header {
	background-color: var(--c-header);
	grid-row: header;
	grid-column: full;

	padding: 5px;
	margin-bottom: 5px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header div {
	display: flex;
}

.footer {
	background-color: var(--c-footer);
	grid-row: footer;
	grid-column: full;
}

.header a {
	-moz-box-shadow: 1px 1px 0px 0px var(--c-header-shadow);
	-webkit-box-shadow: 1px 1px 0px 0px var(--c-header-shadow);
	box-shadow: 1px 1px 0px 0px var(--c-header-shadow);
	background-color:var(--c-header-button);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid var(--c-header-button);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:16px;
	font-weight:bold;
	padding:3px 5px;
	text-decoration:none;
	margin-left: 5px;
	margin-right: 5px;
}
.header a:hover {
	background-color:var(--c-header-button-hover);
}
.header a:active {
	position:relative;
	top:1px;
}

#display-menu {
	display: none;
}

.display-menu {
	display: none;
}

.fa {
	height: 30px;
	width: auto;
	margin: 5px;
}

@media (min-width: 100px) and (max-width: 1024px) {
	body {
		display: flex;
		flex-direction: column;
	}

	.header div {
		display: none;
	}
  
	input[type="checkbox"]:checked ~ label svg {
		transform: rotate(90deg);
		-webkit-transition: transform 0.5s ease-in-out;
		-moz-transition:transform 0.5s ease-in-out;
		-ms-transition:transform 0.5s ease-in-out;
	}

	input[type="checkbox"]:checked ~ div {
		display: flex;
	}

	.header label {
		display: inline;
		width: 100%;
	}

	.header #display-menu {
		opacity: 0;
		display: inline;
	}

	.header {
		flex-direction: column;
	}
  
	.header div {
		flex-direction: column;
	}

	.header a {
		margin: 2px;
	}

	.header div {
		margin: 5px;
		width: 100%;
	}
}
