.login_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

.login_wrapper div {
	padding: 10px;
	border-radius: 5px;
	background-color: var(--c-grey-3);
}

.login-options {
	display: flex;
	flex-direction: column;
}

.btn svg {
	padding: 5px;
}

.btn {
	margin: 5px;
	padding: 5px;

	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
	text-align: center;
	
	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-twitch {
	background-color: #6441A4;
}

.btn-discord {
	background-color: #7289DA;
}