<html>
<body>
	<title>Balance</title>
	<p>
		<% coins = TB::Data::Coin.read_all %>
		<% balances = TB::Data::Account.read(user).balances %>
		<% if balances.empty? %>
			You do not have any balances to display here. You can <a href="/deposit">Deposit</a> though.
		<% else %>
			<% balances.each do |bal| %>
				<% coin = coins[bal.coin] %>
				<%= "#{coin.name_long}: #{bal.balance} #{coin.name_short}" %>
			<% end %>
		<% end %>
	</p>
	<% if msgs = coins.values.map {|coin| coin.balance_broadcast } %>
	<%= "Pay attention to these messages:" %>
	<%= msgs.join("\n") %>
	<% end %>
</body>
</html>