<html>
<style>
.guilds {
	height: 100%;

 	display: flex;

	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
}

.guild-card {
	margin: 20px;
	height: 100px;
	width: 100px;

	border-radius: 50%;

	font-size: 30px;
	text-decoration: none;

	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--c-grey-2);
	transition: transform 1s;
}

.guild-card:hover {
	transform: scale(1.2);
}

.guild-icon {
	width: 100%;
	height: auto;

	border-radius: 50%;
}

</style>

<body>
	<title>Configuration</title>
	<% coins = TB::Data::Coin.read_all %>
	<!-- GUILDS -->
	<% if guild_array = env.session.object?("admin_guilds") %>
		<% guilds = guild_array.guilds %>
		<div class="guilds">
		<% guilds.each do |guild| %>
			<% configs = TB::Data::Discord::Guild.read_by_guild_id(guild.id) %>
			<a class="guild-card" href="/configuration/guild?guild_id=<%= guild.id %>">
			<% if guild.icon %>
				<%= "<img class=\"guild-icon\" src=\"https://cdn.discordapp.com/icons/#{guild.id}/#{guild.icon}.png\"/>" %>
			<% else %>
				<%= "<span>#{guild.name.scan(/\b\w|-/).join(" ", &.[0][0])}</span>" %>
			<% end %>
			</a>
		<% end %>
		</div>
	<% else %>
	    <a href="/auth/discord?scope=guilds">Reauthenticate with guilds scope</a>
	<% end %>
	<!-- TWITCH -->
	<!-- TODO -->
</body>
</html>