<html>
<style>
.guilds {
 	display: flex;
 	flex-direction: column;
}

.guild-card {
	display: grid;
	grid-template-columns: 1fr 6fr;
	margin: 5px;
	background: #E9E7E7;
	border-radius: 5px;
}
.guild-icon {
	display: inline;
	grid-column: 1;
	padding: 10px;
}
.guild-config {
	background: #F3EEEE;
}

.config-card {
	grid-column: 2;

	display: flex;
	flex-direction: column;
}
</style>

<body>
	<title>Configuration</title>
	<% coins = TB::Data::Coin.read_all %>
	<!-- GUILDS -->
	<% if guilds_json = redis.get("admin_guilds-#{user}") %>
		<% guilds = Array(DiscordGuild).from_json(guilds_json) %>
			<div class="guilds">
			<% guilds.each do |guild| %>
				<div class="guild-card">
					<%= "<img class=\"guild-icon\" src=\"https://cdn.discordapp.com/icons/#{guild.id}/#{guild.icon}.png\"/>" if guild.icon %>
					<div class="config-card">
						<h2 class="guild-name"><%= guild.name %></h2>
						<% configs = TB::Data::Discord::Guild.read_by_guild_id(guild.id) %>
						<% if configs.empty? %>
							<a href="https://discordapp.com/api/oauth2/authorize?client_id=<%= coins.first[1].discord_client_id %>&scope=bot&guild_id=<%= guild.id %>">Add bot to guild</a>
						<% else %>
							<a href="/configuration/guild?id=<%= guild.id %>">Configure bot for guild</a>
						<% end %>
					</div>
				</div>
			<% end %>
			</div>
	<% else %>
	    <a href="/auth/discord?scope=guilds">Reauthenticate with guilds scope</a>
	<% end %>
	<!-- TWITCH -->
	<!-- TODO -->
</body>
</html>