<body>
	<title>Statistics</title>
	<h1>Statistics</h1>
	<% stats = TB::Data::Statistics.read %>
	<p>There have been a total of <%= stats.transaction_count %> Transactions.</p>
	<p>A total of <%= stats.transaction_sum %> have been transferred.<br>
	<%= stats.tip_sum %> were tipped, <%= stats.soak_sum %> soaked, and <%= stats.rain_sum %> rained.</p>
	<p><small>These Statistics were last updated at <%= stats.last_refresh %>.</small></p>
</body>
